<h2>Reporter output</h2><table><tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (b6cf15d1c61a6fff1a7f25db5d7f31c6)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (b6cf15d1c61a6fff1a7f25db5d7f31c6)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (b6cf15d1c61a6fff1a7f25db5d7f31c6)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (b6cf15d1c61a6fff1a7f25db5d7f31c6)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>Verifying Pop up display message</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (b6cf15d1c61a6fff1a7f25db5d7f31c6)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (9ed97d4007956274e4f6a5703fc3d17b)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (9ed97d4007956274e4f6a5703fc3d17b)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (9ed97d4007956274e4f6a5703fc3d17b)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (9ed97d4007956274e4f6a5703fc3d17b)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (9ed97d4007956274e4f6a5703fc3d17b)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Clicking on Deposit Tab[[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //button[@ng-click= 'deposit()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Deposit button[[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //button[text()= 'Deposit']]</td></tr>
<tr><td>Verifying Deposit is successful[[ChromeDriver: chrome on WINDOWS (b7d7cc623dad3edeefb93f9dac8e5f12)] -> xpath: //span[text()= 'Deposit Successful']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (e251676e24ef43da461434eb363acb68)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (e251676e24ef43da461434eb363acb68)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (e251676e24ef43da461434eb363acb68)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (e251676e24ef43da461434eb363acb68)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (e251676e24ef43da461434eb363acb68)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Verifying Logout Tab is displayed[[ChromeDriver: chrome on WINDOWS (e251676e24ef43da461434eb363acb68)] -> xpath: //button[text()= 'Logout']]</td></tr>
<tr><td>Clicking on Logout button[[ChromeDriver: chrome on WINDOWS (e251676e24ef43da461434eb363acb68)] -> xpath: //button[text()= 'Logout']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Clicking on Deposit Tab[[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //button[@ng-click= 'deposit()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Deposit button[[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //button[text()= 'Deposit']]</td></tr>
<tr><td>Clicking on Withdrawal Tab[[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //button[@ng-click= 'withdrawl()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Withdraw button[[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //button[text()= 'Withdraw']]</td></tr>
<tr><td>Verifying that Withdrawal is successful[[ChromeDriver: chrome on WINDOWS (e8a3f0073d14bceff8fa2446a6247b25)] -> xpath: //span[text()= 'Transaction successful']]</td></tr>
</table>