<h2>Reporter output</h2><table><tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (c2680e2238a115f44a42fe5d5278cbcd)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (c2680e2238a115f44a42fe5d5278cbcd)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (c2680e2238a115f44a42fe5d5278cbcd)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (c2680e2238a115f44a42fe5d5278cbcd)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>Verifying Pop up display message</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (c2680e2238a115f44a42fe5d5278cbcd)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (2a52811eb06ba7f529c4daea8aae2088)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (2a52811eb06ba7f529c4daea8aae2088)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (2a52811eb06ba7f529c4daea8aae2088)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (2a52811eb06ba7f529c4daea8aae2088)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (2a52811eb06ba7f529c4daea8aae2088)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Clicking on Deposit Tab[[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //button[@ng-click= 'deposit()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Deposit button[[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //button[text()= 'Deposit']]</td></tr>
<tr><td>Verifying Deposit is successful[[ChromeDriver: chrome on WINDOWS (9302888f42eb0862eadce94a39e5c231)] -> xpath: //span[text()= 'Deposit Successful']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (6ac3a3b99f9a4fd35015a4bd9ade6898)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (6ac3a3b99f9a4fd35015a4bd9ade6898)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (6ac3a3b99f9a4fd35015a4bd9ade6898)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (6ac3a3b99f9a4fd35015a4bd9ade6898)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (6ac3a3b99f9a4fd35015a4bd9ade6898)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Verifying Logout Tab is displayed[[ChromeDriver: chrome on WINDOWS (6ac3a3b99f9a4fd35015a4bd9ade6898)] -> xpath: //button[text()= 'Logout']]</td></tr>
<tr><td>Clicking on Logout button[[ChromeDriver: chrome on WINDOWS (6ac3a3b99f9a4fd35015a4bd9ade6898)] -> xpath: //button[text()= 'Logout']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Clicking on Deposit Tab[[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //button[@ng-click= 'deposit()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Deposit button[[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //button[text()= 'Deposit']]</td></tr>
<tr><td>Clicking on Withdrawal Tab[[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //button[@ng-click= 'withdrawl()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Withdraw button[[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //button[text()= 'Withdraw']]</td></tr>
<tr><td>Verifying that Withdrawal is successful[[ChromeDriver: chrome on WINDOWS (d1a3327cf5591051c4bdfda2d8dadab1)] -> xpath: //span[text()= 'Transaction successful']]</td></tr>
</table>