<h2>Reporter output</h2><table><tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (47f6ae2a526c14bbfea672dd51c77fd5)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (47f6ae2a526c14bbfea672dd51c77fd5)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (47f6ae2a526c14bbfea672dd51c77fd5)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (47f6ae2a526c14bbfea672dd51c77fd5)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>Verifying Pop up display message</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (47f6ae2a526c14bbfea672dd51c77fd5)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (3f847fd43679b55cda175a3716908efa)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (3f847fd43679b55cda175a3716908efa)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (3f847fd43679b55cda175a3716908efa)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (3f847fd43679b55cda175a3716908efa)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (3f847fd43679b55cda175a3716908efa)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Clicking on Deposit Tab[[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //button[@ng-click= 'deposit()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Deposit button[[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //button[text()= 'Deposit']]</td></tr>
<tr><td>Verifying Deposit is successful[[ChromeDriver: chrome on WINDOWS (6c3a307d4696a22ca66d022aaeeccf3f)] -> xpath: //span[text()= 'Deposit Successful']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (7c7dfca7f1ad23ed8dbb31a869356ec2)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (7c7dfca7f1ad23ed8dbb31a869356ec2)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (7c7dfca7f1ad23ed8dbb31a869356ec2)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (7c7dfca7f1ad23ed8dbb31a869356ec2)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (7c7dfca7f1ad23ed8dbb31a869356ec2)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Verifying Logout Tab is displayed[[ChromeDriver: chrome on WINDOWS (7c7dfca7f1ad23ed8dbb31a869356ec2)] -> xpath: //button[text()= 'Logout']]</td></tr>
<tr><td>Clicking on Logout button[[ChromeDriver: chrome on WINDOWS (7c7dfca7f1ad23ed8dbb31a869356ec2)] -> xpath: //button[text()= 'Logout']]</td></tr>
<tr><td>Enter name in the First Name Field [[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Enter surname in the Last Name Field [[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //input[@placeholder = 'Last Name']]</td></tr>
<tr><td>Enter postcode in the Postcode Field [[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //input[@placeholder = 'Post Code']]</td></tr>
<tr><td>Click on Add Customer button [[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //button[text()= 'Add Customer']]</td></tr>
<tr><td>click on Ok on pop [[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //input[@placeholder = 'First Name']]</td></tr>
<tr><td>Clicking on Deposit Tab[[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //button[@ng-click= 'deposit()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Deposit button[[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //button[text()= 'Deposit']]</td></tr>
<tr><td>Clicking on Withdrawal Tab[[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //button[@ng-click= 'withdrawl()']]</td></tr>
<tr><td>Enter amount[[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //input[@ng-model= 'amount']]</td></tr>
<tr><td>Clicking on Withdraw button[[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //button[text()= 'Withdraw']]</td></tr>
<tr><td>Verifying that Withdrawal is successful[[ChromeDriver: chrome on WINDOWS (a98afd72579a07573177bd70d9a94543)] -> xpath: //span[text()= 'Transaction successful']]</td></tr>
</table>